---
import Layout from "../../layouts/Layout.astro";
import LastRelease from "../LastRelease.astro";
import BannerMain from "../BannerMain.astro";
import Music from "../Music.astro";
import Videos from "../Videos.astro";
import Biography from "../Biography.astro";

import { getI18N } from "../../i18n/";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<Layout
  title=`${i18n.SEO_TITLE_1} - ${i18n.SEO_TITLE_2}`
  description={i18n.SEO_DESCRIPTION}
>
  <main>
    <BannerMain />
    <!-- <LastRelease /> -->
    <Music />
    <Videos />
    <Biography />
  </main>
</Layout>
