---
import { getI18N } from "../i18n/index";
import Typography from "./Typography.astro";
import Container from "./Container.astro";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<section
  id="bio"
  class="relative h-[100vh] py-24 z-10 mx-auto flex justify-center mb-10 text-pretty px-6 text-left text-xl"
>
  <Container>
    <Typography variant="bigger" color="neutral" as="h1" class="">
      {i18n.BIO_TITLE}
    </Typography>
  </Container>
</section>
