---
import Logo from "./Logo.astro";

import { getI18N } from "../i18n/index";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section
  id="music"
  class="relative bg-black h-auto z-10 mx-auto flex justify-center mb-10 py-24 text-pretty px-6 text-left text-xl"
>
  <div class="xl:max-w-[1000px] md:max-w-[800px] w-full">
    <h1
      class="mx-auto mb-10 text-wrap text-center text-2xl lg:text-3xl xl:text-3xl font-semibold tracking-wide"
    >
      {i18n.LAST_RELEASE}
    </h1>
    <div class="relative mt-5 h-0" style={{ paddingBottom: "56.25%" }}>
      <iframe
        class="absolute left-0 top-0 h-full w-full rounded-lg shadow-2xl shadow-white/10"
        src={`https://www.youtube.com/embed/7VohxPOFioo`}
        frameborder="0"
        data-allow="autoplay; encrypted-media"
        allowfullscreen></iframe>
    </div>
  </div>
</section>
