---
import music from "../data/music.json";
import { getI18N } from "../i18n/index";
import { previousPage, nextPage } from "../lib/pagination.js";

export const { currentLocale } = Astro;
export const i18n = getI18N({ currentLocale });
// export const itemsPerPage = 4; // Número de elementos por página
// export let currentPage = 1;
---

<!-- <script>
  function handlePreviousClick() {
    // previousPage();
  }

  function handleNextClick() {
    // nextPage();
  }

  document
    .querySelector('button[data-action="previous"]')
    ?.addEventListener("click", handlePreviousClick);

  document
    .querySelector('button[data-action="next"]')
    ?.addEventListener("click", handleNextClick);
</script> -->
<section class="pt-10">
  <div
    class="grid grid-cols-2 xs:grid-cols-3 md:grid-cols-4 xl:grid-cols-5 gap-4 md:gap-6 xl:gap-8 xs:mt-4"
  >
    {
      music.map(({ urlImage, urlSong, titleSong }) => {
        return (
          <div style="position: relative;">
            <a
              href={urlSong}
              target="_blank"
              rel="noreferrer"
              class="rounded-md transition duration-300 "
            >
              <div>
                <img
                  class="hover:scale-105 transition duration-300"
                  src={urlImage}
                  alt="jpg"
                />
                <div class="item bg-white hover:scale-105 duration-300 hover:bg-primary-contrast hover:text-white text-primary-contrast font-semibold uppercase px-3 py-2">
                  {i18n.MUSIC_ITEM}
                </div>
              </div>
              <div class="text-center pt-2">{titleSong}</div>
            </a>
          </div>
        );
      })
    }
  </div>
</section>

<style>
  .item {
    display: none;
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  a:hover .item {
    display: block;
    visibility: visible;
  }
</style>
