---
import music from "../data/music.json";
import { getI18N } from "../i18n/index";
import { previousPage, nextPage } from "../lib/pagination.js";

export const { currentLocale } = Astro;
export const i18n = getI18N({ currentLocale });
export const itemsPerPage = 4; // Número de elementos por página
export let currentPage = 1;
---

<script>
  function handlePreviousClick() {
    // previousPage();
  }

  function handleNextClick() {
    // nextPage();
  }

  document
    .querySelector('button[data-action="previous"]')
    ?.addEventListener("click", handlePreviousClick);

  document
    .querySelector('button[data-action="next"]')
    ?.addEventListener("click", handleNextClick);
</script>

<section class="pt-10">
  <div
    class="grid grid-cols-2 md:grid-cols-4 xl:grid-cols-4 gap-4 lg:gap-6 xs:mt-4"
  >
    {
      music
        .slice((currentPage - 1) * itemsPerPage, currentPage * itemsPerPage)
        .map(({ urlImage, urlSong }) => {
          return (
            <div>
              <a href={urlSong} target="_blank" rel="noreferrer">
                <img src={urlImage} alt="jpg" class="w-full rounded-lg" />
                <div class="w-full text-center">{i18n.MUSIC_ITEM}</div>
              </a>
            </div>
          );
        })
    }
  </div>
  <div class="flex justify-center mt-4">
    <button
      data-action="previous"
      class="px-4 py-2 mr-2 bg-gray-200 disabled:opacity-50"
      disabled={currentPage === 1}
    >
      Previous
    </button>
    <button
      data-action="next"
      class="px-4 py-2 bg-gray-200 disabled:opacity-50"
      disabled={currentPage * itemsPerPage >= music.length}
    >
      Next
    </button>
  </div>
</section>
