---
import { getI18N } from "../i18n/index";
// import ListVideos from "./ListVideos";

import ListVideos from "./ListVideos.astro";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<section
  id="video"
  class="relative h-auto bg-black py-24 z-10 mx-auto flex justify-center mb-10 text-pretty px-6 text-left text-xl"
>
  <div class="w-full">
    <h1
      class="mx-auto mb-10 text-wrap text-center text-2xl lg:text-3xl xl:text-3xl font-semibold tracking-wide"
    >
      {i18n.VIDEO_TITLE}
    </h1>
    <ListVideos />
  </div>
</section>
