---
import { getI18N } from "../i18n/index";
import Container from "./Container.astro";

import ListVideos from "./ListVideos.astro";
import Typography from "./Typography.astro";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<section
  id="video"
  class="relative h-auto bg-primary py-24 z-10 mx-auto flex justify-center mb-10 text-pretty px-6 text-left text-xl"
>
  <Container>
    <Typography variant="bigger" color="neutral" as="h1" class="">
      {i18n.VIDEO_TITLE}
    </Typography>
    <ListVideos />
  </Container>
</section>
